/* font-family: 'Sacramento', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; */

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    ;
}

h1
{
    color: #1d4d4f;
    margin-top: 50;
    margin-bottom: 0;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
}

h2
{
    color: #1d4d4f;
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;
}

h3
{
    color: #357376;
    font-family: 'Montserrat', sans-serif; 
}


.container-top
{
    background-color: #6ba8a9;
    padding-top: 100px;
    position: relative;

}

.profile
{
    width: 30%;
    margin: 0px auto;
    padding: 100px 0;
    /* padding-top: 100px;
    padding-bottom: 100px; */
}

.profile p
{
    margin: 0;
    line-height: 2;
}

.container-middle
{
margin-bottom: 50px;

}




.top-cloud
{
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud
{
    position: absolute;
    left: 300px;
    bottom: 300px;
    
}

.container-top h2 span
{
    text-decoration: underline;
}

.skills
{
    margin: 100px auto;
    
}


.skills h3
{
    text-align: left;
}

/* .skills p
{
    margin: 30px auto;
    line-height: 2;
    text-align: left;
} */

hr
{
    /* 기본적으로 hr이 갖고 있는 border-style을 없애줌 */
    border-style: none;
    border-top: 8px dotted cadetblue;
    /* border: 4px dotted #1d4d4f;*/
    width: 10%;
}

.skill-row
{
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
    overflow: auto;
}

.java-photo
{
    float: left;
    margin-right: 30px;
    margin-top: 10px;
    width: 20%;
    
}

.js-photo
{
    float: right;
    /* margin-left: 30px; */
    margin-top: 30px;
    width: 20%;
    
}

.contact-me h2
{
    margin-top: 100px;
}


.btn
{
    background-color: #357376;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px 20px;
    /* 모서리를 둥글게 */
    border-radius: 10px;

    /* inline-block으로 만들어줘야함 */
    display: inline-block;
    

}

.container-bottom
{
 background-color: #6ba8a9;
 margin-bottom: 0px;
 padding: 50px;

 line-height: 2;


}

.container-bottom p
{
    margin: 0px auto;
    color: white;
}

/* 외부 스타일 시트에서의 링크꾸미기
내부 스타일 시트일 때
a:link {color: red;}
인 식. 외부 스타일에서도 마찬가지로 콜론을 넣고 link, hover 등을 적은 뒤 중괄호를 써야함.*/

.footer-link:hover{
    color: white;
}

.footer-link
{
    color: #1d4d4f;
    text-decoration: none;
}

/* @media ( max-width: 480px )
    {

        .container-top
        {
            width: auto;
        }

        .container-middle
        {
            width: auto;
        }

        .container-bottom
        {
            width: auto;
        }

        h1
{
    font-size: 50%;
}

        .java-photo
{
    float: none;
    width: 40%;
    
}
.js-photo
{
    float: none;
    width: 40%;
}


    } */