@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');


/* font-family: 'Gugi', cursive; */


/* 초기화 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Gugi', cursive;
    line-height: 1.4;
}

/* 스크롤바 없앰 */
body::-webkit-scrollbar
{display: none;}


a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

/* 공통 클래스 */
.text-primary
{
    color: #93cb52;
}

/* 메뉴바 */
#navbar
{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: #333;
    color: white;
    z-index: 1;
    padding: 1rem;
}

#navbar ul
{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul a
{
    color: white;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul a:hover
{
    background-color: #93cb52;
    border-radius: 5px;
}

/* 쇼케이스 */

#showcase
{
    background: #333 url(../../FlexSite/img/showcase.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: slategrey;
    /* color: white; */
    position: relative;
}


#showcase .showcase-content
{

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 2em;

    /* 오버레이: 쇼케이스와 같은 사이즈 */
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    /* 마지막 네번째는 불투명도 */
    background-color: rgba(0, 0, 0, 0.4);
}

/* 공통 클래스: 여러번 사용 */

.l-heading
{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;

}

.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;

}

.btn
{
    display: inline-block;
    color: #fff;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}


.btn-dark
{
    background-color: #333;
}

.container
{
    max-width: 1100px;
    margin: auto;
    padding: 0.2rem;
}

.text-center
{
    text-align: center;
}

/* 위 아래만 패딩을 맞추는 클래스 */
.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

/* 전체 패딩을 맞추는 클래스를 따로 만듦 */
.p-1{ padding: 1.5rem;}
.p-2{ padding: 2rem; }
.p-3{ padding: 3rem; }


.bg-light
{
    background-color: #f4f4f4;
    color: #333;
}

.bg-dark
{
    background-color: #333;
    color: white;
}

.bg-primary
{
    background-color: #93cb52;
    color: white;
}






.list 
{
    margin: 0.5rem 0;
    list-style: none;

}

/* 리스트 클래스의 li에 패딩을 주고 border-bottom을 줌 */
.list li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}



/* 섹션: What we do */

#what .items
{
    display: flex;
    padding: 1rem;
}

#what .item
{
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#what .items .item i
{
    background-color: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* 섹션: 우리는 누구 */

#who
{ display: flex;}

/* 각 div가 같은 비율차지. 이 경우 이미지와 글이 들어가는 부분 */
#who div {flex: 1;}

#who .who-img
{
    background: url(../../FlexSite/img/who.jpg) no-repeat center center;
    background-size: cover;
}


/* 섹션: 클라이언트 */
#clients .items
{
    display: flex;
    justify-content: space-around;
}

/* 아이디 clients 아래의 items클래스의 img에 적용. 이미지 마진 및 크기 조절 */
#clients .items img
{
    display: block;
    /* 여기서 왜 auto값이 적용이 안 될까? */
    margin: auto;
    width: 100px;
}


/* 섹션: 컨택트 */
#contact
{
    display: flex;
}


/* 아이디 contact 아래에 있는 map클래스와 conatact-form클래스의 비율을 1:1로 둠 */
#contact .map
{
    flex: 10;
}
#contact .contact-form
{
    flex: 9;
}

#contact .contact-form .form-group
{
    margin: 0.75rem;
}

#contact .contact-form label
{
    display: block;
}

#contact .info
{
    text-align: center;
}


#contact .contact-form input,
#contact .contact-form textarea
{
    width: 100%;
    padding: 0.5rem;
}
#contact .submitbtnLoc
{
    width: 30%;
    justify-items: flex-end;
}
